@model WebServerAppDev_App1.Models.Account.AccountLoginViewModel

@{ 
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="/Account/Login">
    <lable>USERNAME: </lable>
    @Html.TextBoxFor(model => model.Username)<br />

    @*<input type="text" name="username" />*@
    <label>PASSWORD: </label>
    @Html.PasswordFor(model => model.Password)<br />

    @*<input type="password" name="password" /><br />*@

    <label>Remember Me </label>
    @Html.CheckBoxFor(model => model.RememberMe)<br />

    <button type="submit">Login</button>
    <a href="/Account/Create">Create Account</a>
</form>